<button (click)="openWindow(window, 'Thêm mới')" [status]="'success'" nbButton fullWidth>
  <span>
      <nb-icon [icon]="'plus-circle-outline'">
      </nb-icon>
      Thêm mới
  </span>
</button>
<ng-template #window let-data>
    <nb-card style="width: 40vw;">
        <nb-card-header>Thông tin thương hiệu</nb-card-header>
        <nb-card-body style="max-height: 50vh; overflow-y: scroll;">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-12 my-2">
                        <span>Tên thương hiệu <span class="text-danger">*</span></span>
                        <input class="my-2" type="text" placeholder="Ví dụ: Nikon..." [status]="form.get('Name').dirty || form.get('Name').touched ? (form.get('Name').invalid ? 'danger' : 'success') : 'default'" nbInput fullWidth formControlName="Name">
                        <span *ngIf="(form.get('Name').dirty || form.get('Name').touched) && form.get('Name').invalid" class="text-danger">Sai định dạng tên thương hiệu</span>
                    </div>
                </div>
            </form>
        </nb-card-body>
        <nb-card-footer>
            <button (click)="useCreate()" [disabled]="form.invalid" [status]="'primary'" nbButton fullWidth>
            <span>
                <nb-icon [icon]="'plus-circle-outline'">
                </nb-icon>
                Xác nhận
            </span>
        </button>
        </nb-card-footer>
    </nb-card>
</ng-template>