<ngx-datatable id="specialize-table" class='table table-hover material' (select)="useSelect($event)" [columnMode]="'force'" [reorderable]="true" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]="filterRows" [scrollbarH]="true" [selectionType]="'single'"
    [limit]="10" [messages]="{emptyMessage: 'Không có dữ liệu để hiển thị',totalMessage: 'tổng cộng',selectedMessage: 'đã chọn'}">
    <ngx-datatable-column [name]="'Tên'" [width]="100" [prop]="'Name'">
    </ngx-datatable-column>
</ngx-datatable>